<!doctype html>
<html lang="us">
<head>
    <meta charset="utf-8">
    <link href="css/start/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <title>About us</title>
    <style>
        .letter {
            color: red;
            font-size: 155%;
            font-family: serif;
            position: relative;
            top: 5px;
        }
        .developers {
            text-shadow:1px 1px 2px rgba(10,10,10,1);
            font-weight:normal;
            font-style:italic;
            color:#37305C;
            background-color:#E6E6E6;
            border: 0px;
            letter-spacing:1pt;
            word-spacing:2pt;
            font-size:15px;
            text-align:left;
            font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;line-height:1;

        }

    </style>
</head>
<body>
<div>
    <span class="letter">H</span><span class="developers">ello there!
   <p>Our team:
           <ul>
               <li>Andrew </li>
               <li>Michail ( ne ochen' v dotky)</li>
               <li>Alex</li>
               <li>Ilya</li>
            </ul>

    </p>
    <p>We are thankful for using our program! You may contact us by form below.</p></span>
    <textarea name="commentBack" cols="40" rows="3"></textarea></p>
    <p><input type="submit" value="Send it to us">
        <input type="reset" value="Clear form"></p>


</div>
</body>
</html>