<!doctype html>
<html lang="us">
<head>
    <meta charset="utf-8">
    <link href="css/start/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <title>Add contact</title>
</head>
<body>
<div>
    <span>
    <p>Enter the name below:</p>
    </span>
    <textarea name="Add_contact_textarea" cols="20" rows="1"></textarea></p>
    <p><input type="submit" value="Add friend"></p>
</div>
</body>
</html>