<!doctype html>
<html lang="us">
<head>
    <meta charset="utf-8">
    <title>SKUPE</title>
    <link href="css/start/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.js"></script>
    <script src="js/ejs.js"></script>

    <style>
        .hoov1 {
            background-color: #eaf5f7;
        }

        label {
            display: inline-block;
            width: 5em;
        }
        html {
            height: 100%;
        }
        body {
            font-size:12px;
            font-family:arial;
        }

        /* Cброс стилей списка браузера: */
        .vert-nav, .vert-nav ul {
            list-style:none;
            margin:0 0 0 -1px; /* Чтобы в IE8 не косило. */
            padding:0;
        }

        /* Делаем LI инлайновым: */
        .vert-nav li {
            float:left;
            position:relative;
            display:block;
            margin:0 1px;
            z-index:999;
            width:150px;
            background:#507EB9;

        }

        /* Меню: */
        .vert-nav li a {
            display:block;
            padding:8px 5px 0 5px;
            height:20px;
            text-decoration:none;
            text-align:center;
            color:#fff;
            font-weight:bold;
        }

        /* Выделенный пункт меню: */
        .vert-nav li.current {
            background:#C5D4EA;
        }
        /* Пункт меню при наведении курсора: */
        .vert-nav li a:hover {
            text-decoration:underline;
        }

        /* Подменю, скрываемое по умолчанию: */
        .vert-nav ul {
            position:absolute;
            display:none;
            left:0;
        }
        .vert-nav ul li {
            border-top:1px solid #fff;
            float:left;
        }
    </style>
</head>

<body>
<script type="text/javascript">
    $(document).ready(function () {

        $('.vert-nav li').hover(
                function() {
                    $('ul', this).slideDown(110);
                },
                function() {
                    $('ul', this).slideUp(110);
                }
        );

    });
</script>
<div style="display:table;height: 100%;">
    <div style="display:table-cell;">
        <div id="user_panel" style="width: 300px; border: #a6c9e2 1px solid; margin-bottom: 10px; border-radius: 5px;">
            <div id="user_nickname"
                 style="border-bottom: #a6c9e2 1px solid; margin-bottom: 10px; height: 30px; padding-left: 10px; padding-top: 5px;"
                 class="hoov">

                <ul class="vert-nav">
                    <li><a href="">Изменить статус</a>
                        <ul>
                            <li><a href="set_online">Онлайн</a></li>
                            <li><a href="set_out">Нет на месте</a></li>
                            <li><a href="set_busy">Занят</a></li>
                            <li><a href="set_offline">Оффлайн</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div style="padding-left: 10px; margin-bottom: 10px;">
                <div style="width: 40px; height: 40px; padding-top: 5px; padding-left: 5px; display: inline-block;"
                     class="hoov">
                    <label for="show_news"/>
                    <img class="hoov" id="show_news" src="img/add.jpg" width="30" height="30"
                         alt="Добавить контакт" title="Просмотр новостей"/>
                </div>

                <div style="width: 40px; height: 40px; padding-top: 5px; padding-left: 5px; display: inline-block;"
                     class="hoov">
                    <label for="add_contact"/>
                    <img class="hoov" id="add_contact" src="img/add.jpg" width="30" height="30"
                         alt="Добавить контакт" title="Добавить контакт"/>
                </div>

                <div style="width: 40px; height: 40px; padding-top: 5px; padding-left: 5px; display: inline-block;"
                     class="hoov">
                    <label for="create_chat"/>
                    <img class="hoov" id="create_chat" src="img/add.jpg" width="30" height="30"
                         alt="Добавить контакт" title="Создать чат"/>
                </div>
            </div>

            <div style="padding-bottom: 10px; padding-left: 10px;">
                <input name="search" placeholder="Поиск">
            </div>

        </div>

        <div id="left_panel" style="width: 300px; height: 100%;">
            <div id="tabs">
                <ul>
                    <li><a href="#tab1">Контакты</a></li>
                    <li><a href="#tab2">Последние</a></li>
                </ul>
                <div id="tab1" style="padding: 0px;">
                    <div style="width: 280px; height: 50px; padding-top: 2px; padding-left: 10px;" class="hoov">
                        <img width="40px" height="40px" src="img/def_user.jpg" style="vertical-align: middle;"/>
                        <img width="20px" height="20px" src="img/blocked.png"/>
                        <span style="display: none;">1</span>
                        Meepo
                    </div>

                    <div style="width: 280px; height: 50px; padding-top: 2px; padding-left: 10px;" class="hoov">
                        <img width="40px" height="40px" src="img/def_user.jpg" style="vertical-align: middle;"/>
                        <img width="20px" height="20px" src="img/away.png"/>
                        <span style="display: none;">2</span>
                        Timbersaw
                    </div>
                    <div style="width: 280px; height: 50px; padding-top: 2px; padding-left: 10px;" class="hoov">
                        <img width="40px" height="40px" src="img/def_user.jpg" style="vertical-align: middle;"/>
                        <img width="20px" height="20px" src="img/offline.png"/>
                        <span style="display: none;">3</span>
                        Antimage
                    </div>
                    <div style="width: 280px; height: 50px; padding-top: 2px; padding-left: 10px;" class="hoov">
                        <img width="40px" height="40px" src="img/def_user.jpg" style="vertical-align: middle;"/>
                        <img width="20px" height="20px" src="img/offline.png"/>
                        <span style="display: none;">4</span>
                        Batrider
                    </div>
                    <div style="width: 280px; height: 50px; padding-top: 2px; padding-left: 10px;" class="hoov">
                        <img width="40px" height="40px" src="img/def_user.jpg" style="vertical-align: middle;"/>
                        <img width="20px" height="20px" src="img/offline.png"/>
                        <span style="display: none;">5</span>
                        Invoker
                    </div>
                </div>
                <div id="tab2">...</div>
            </div>
        </div>
    </div>


    <div id="content" style="display:table-cell; width: 100%; height: 100%; padding-left: 10px;">

        <div style="border-bottom: #a6c9e2 1px solid; width: 100%;">
            <h1> Главная страница</h1>
        </div>
        <h3>ываываываываываав</h3>
    </div>
    <!--<div id="about" ><a href="#about" style="text-decoration:none;">About us</a></div>-->
    <div class="about">About us</div>

</div>


<script>
    $("#tabs").tabs();
    $(".hoov").hover(
            function () {
                $(this).toggleClass("hoov1");
            }, function () {
                $(this).toggleClass("hoov1");
            }
    );
    $(function () {
        $(document).tooltip();
    });

    $('#tab1 div').on('click', function () {
        var userId = $(this).find('span').text();
        var data = {
            "userId": userId
        };
        $.ajax({
            type: "POST",
            url: '/showUserDialog',
            dataType: "json",
            data: data,
            success: function (ans) {
                var html = new EJS({url: ' /views/userDialog.ejs'}).render(ans);
                $('#content').html(html);
            }
        });
    });


    $('.about').on('click', function () {
   //     alert('asasd');
//        $.ajax({
//
//            type: "GET",
//            url: '/about',
//            dataType: "json",
//            success: function (ans) {
//                var html = new EJS({url: ' /views/about.ejs'}).render(ans);
//                $('#content').html(html);
//            }
//        });
        var html = new EJS({url: ' /views/about.ejs'}).render();
      //  alert(html);
        $('#content').html(html);
    });
</script>

</body>
</html>
