<!doctype html>
<html lang="us">
<head>
    <meta charset="utf-8">
    <link href="css/start/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <title>RACH</title>
    <style>
        .DivToScroll {
            background-color: #F5F5F5;
            border: 1px solid #DDDDDD;
            border-radius: 4px 0 4px 0;
            color: #3B3C3E;
            font-size: 12px;
            font-weight: bold;
            left: -1px;
            padding: 10px 7px 5px;
        }

        .DivWithScroll {
            height: 120px;
            overflow: scroll;
            overflow-x: hidden;
        }
    </style>
</head>
<body>
<div style="width: 500px; height: 300px; border: #a6c9e2 1px solid; border-radius: 5px;
padding-left: 250px; padding-top: 50px; margin: auto; margin-top: 100px;">
    <span> Логин </span>
    <input name="user" placeholder="user" style="display:  block;" class="ui-button">
    <span> Пароль </span>
    <input name="password" type="password" placeholder="password" style="display:  block;" class="ui-button">
    <input type="button" name="Войти" class="ui-button" value="Log in">

</div>
</body>
</html>