<!doctype html>
<html>
    <head>
        <title>Вход</title>
    </head>
    <body>
    <div style="width: 500px; height: 300px; border: #a6c9e2 1px solid; border-radius: 5px;
padding-left: 250px; padding-top: 50px; margin: auto; margin-top: 100px;">
        <form method="post">
            <span> Логин </span>
            <input name="user" id="user" placeholder="user" style="display:  block;" class="ui-button">
            <span> Пароль </span>
            <input name="password" id="password" type="password" placeholder="password" style="display:  block;" class="ui-button">
            <input type="submit" remonclick="login()" value="Войти">
        </form>
        <a href="/registration">Registration</a>
        </div>
    </body>
</html>