<!doctype html>
<html lang="us">
<head>
    <meta charset="utf-8">
    <title>Главное окно</title>
    <link href="css/start/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.js"></script>
    <script src="js/ejs.js"></script>

    <style>
        .hoov1 {
            background-color: #eaf5f7;
        }

        label {
            display: inline-block;
            width: 5em;
        }

        html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .about {
            text-shadow: 2px 1px 0 rgba(40, 252, 245, 1);
            font-weight: normal;
            color: #000000;
            letter-spacing: 8pt;
            word-spacing: 3pt;
            font-size: 12px;
            text-align: right;
            font-family: comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
            line-height: 0;
        }

        .turn:hover {

            -moz-transform: translate(60em, 0);
            -ms-transform: translate(60em, 0);
            -webkit-transform: translate(60em, 0);
            -o-transform: translate(60em, 0);
            transform: translate(60em, 0);
            -webkit-transition: all 6s ease-in-out;
            -moz-transition: all 6s ease-in-out;
            -o-transition: all 6s ease-in-out;
            -ms-transition: all 6s ease-in-out;
        }
    </style>
</head>
<body>

<div style="display:table;height: 100%;">
    <div style="display:table-cell;">
        <div id="user_panel" style="width: 300px; border: #a6c9e2 1px solid; margin-bottom: 10px; border-radius: 5px;">
            <div id="user_nickname"
                 style="border-bottom: #a6c9e2 1px solid; margin-bottom: 10px; height: 30px; padding-left: 10px; padding-top: 5px;"
                 class="hoov">
                <span class="ui-icon ui-icon-circle-triangle-s" style="display: inline-block;"></span>
                <span>Clasker</span>
            </div>

            <div style="padding-left: 10px; margin-bottom: 10px;">
                <div style="width: 40px; height: 40px; padding-top: 5px; padding-left: 5px; display: inline-block;"
                     class="hoov">
                    <label for="show_news"/>
                    <img class="hoov" id="show_news" src="img/add.jpg" width="30" height="30"
                         alt="Добавить контакт" title="Просмотр новостей"/>
                </div>

                <div style="width: 40px; height: 40px; padding-top: 5px; padding-left: 5px; display: inline-block;"
                     class="hoov">
                    <label for="add_contact"/>
                    <img class="hoov" id="add_contact" src="img/add.jpg" width="30" height="30"
                         alt="Добавить контакт" title="Добавить контакт"/>
                </div>

                <div style="width: 40px; height: 40px; padding-top: 5px; padding-left: 5px; display: inline-block;"
                     class="hoov">
                    <label for="create_chat"/>
                    <img class="hoov" id="create_chat" src="img/add.jpg" width="30" height="30"
                         alt="Добавить контакт" title="Создать чат"/>
                </div>
            </div>

            <div style="padding-bottom: 10px; padding-left: 10px;">
                <input name="search" placeholder="Поиск">
            </div>

        </div>

        <div id="left_panel" style="width: 300px; height: 100%;">
            <div id="tabs">
                <ul>
                    <li><a href="#tab1">Контакты</a></li>
                    <li><a href="#tab2">Последние</a></li>
                </ul>
                <div id="tab1" style="padding: 0px;">
                    <div style="width: 280px; height: 50px; padding-top: 2px; padding-left: 10px;" class="hoov">
                        <img width="40px" height="40px" src="img/def_user.jpg" style="vertical-align: middle;"/>
                        <img width="20px" height="20px" src="img/blocked.png"/>
                        <span style="display: none;">1</span>
                        Meepo
                    </div>

                    <div style="width: 280px; height: 50px; padding-top: 2px; padding-left: 10px;" class="hoov">
                        <img width="40px" height="40px" src="img/def_user.jpg" style="vertical-align: middle;"/>
                        <img width="20px" height="20px" src="img/away.png"/>
                        <span style="display: none;">2</span>
                        Timbersaw
                    </div>
                    <div style="width: 280px; height: 50px; padding-top: 2px; padding-left: 10px;" class="hoov">
                        <img width="40px" height="40px" src="img/def_user.jpg" style="vertical-align: middle;"/>
                        <img width="20px" height="20px" src="img/offline.png"/>
                        <span style="display: none;">3</span>
                        Antimage
                    </div>
                    <div style="width: 280px; height: 50px; padding-top: 2px; padding-left: 10px;" class="hoov">
                        <img width="40px" height="40px" src="img/def_user.jpg" style="vertical-align: middle;"/>
                        <img width="20px" height="20px" src="img/offline.png"/>
                        <span style="display: none;">4</span>
                        Batrider
                    </div>
                    <div style="width: 280px; height: 50px; padding-top: 2px; padding-left: 10px;" class="hoov">
                        <img width="40px" height="40px" src="img/def_user.jpg" style="vertical-align: middle;"/>
                        <img width="20px" height="20px" src="img/offline.png"/>
                        <span style="display: none;">5</span>
                        Invoker
                    </div>
                </div>
                <div id="tab2">...</div>
            </div>
        </div>
    </div>


    <div id="content" style="display:table-cell; width: 100%; height: 100%; padding-left: 10px;">

        <div style="border-bottom: #a6c9e2 1px solid; width: 100%;">
            <h1> Главная страница</h1>
        </div>
        <h3>Загаловок уровня 3</h3>
        Кликни по Мишке, что бы заставить его кодить, иначе Мишка найдёт Твой адрес, придёт к тебе домой и заставит
        кодить Тебя!
    </div>
    <!--<div id="about" ><a href="#about" style="text-decoration:none;">About us</a></div>-->
    <div class="about">About us</div>
    <a href="/logout">Выход</a>

    <p><img style="" class="turn" src="../img/michail.jpg"/></p>
</div>


<script>
    (function () {
        var ws = new WebSocket("ws://localhost:1337/");
        var currentChanel = -1;
        var message = null;
        ws.onopen = function () {
//            alert("Connection opened...")
        }
        ws.onclose = function () {
//            alert("Connection closed...")
        };
        ws.onmessage = function (evt) {
            var data = JSON.parse(evt.data);
            console.log(data);
            switch (data.type) {
                case 'showMessages':
                    for (var i = 0; i < data.data.length; ++i) {
                        console.log(data.data[i]);
                        message.html(message.html() + '<p><strong>' + data.data[i].user +
                                "</strong>: " + data.data[i].message + '</p>');
                    }
                    break;
                case 'newChanelMessage':
                    if (currentChanel == parseInt(data.chanel)) {
                        message.html(message.html() + '<p><strong>' + data.user +
                                "</strong>: " + data.message + '</p>');
                    }
                    break;

            }
        };
        $('.hoov #add_contact').on('click', function () {
            var userId = $(this).find('span').text();
            var data = {
                "userId": userId
            };

            $.ajax({
                type: "GET",
                url: '/add_contact',
                dataType: "json",
                success: function (ans) {
                    var html = new EJS({url: ' /views/add_contact.ejs'}).render(ans);
                    $('#content').html(html);
                }
            });
            var html = new EJS({url: ' /views/add_contact.ejs'}).render();
            $('#content').html(html);
        });
        $("#tabs").tabs();
        $(".hoov").hover(
                function () {
                    $(this).toggleClass("hoov1");
                }, function () {
                    $(this).toggleClass("hoov1");
                }
        );
        $(function () {
            $(document).tooltip();
        });

//        $('#tab1 div').on('click', function () {
//            var userId = currentChanel = $(this).find('span').text();
//            var data = {
//                "type": "listen",
//                "userId": userId
//            };
//
//            $.ajax({
//                type: "POST",
//                url: '/showUserDialog',
//                dataType: "json",
//                data: data,
//                success: function (ans) {
//                    var html = new EJS({url: ' /views/userDialog.ejs'}).render(ans);
//                    $('#content').html(html);
//                    message = $('#messages');
//
//                    $("#send").on('click', function () {
//                        var message = $('#mess').val();
//                        ws.send(JSON.stringify({
//                            "type": "sendMessage",
//                            "message": message,
//                            "chanel": userId
//                        }));
//                    });
//
//                    ws.send(JSON.stringify(data));
//                }
//            });
//        });
        $(function () {
            $(document).tooltip();
        });

        $('#tab1').find('div').on('click', function () {
            var userId = currentChanel = $(this).find('span').text();
            var data = {
                "type": "listen",
                "userId": userId
            };

            $.ajax({
                type: "POST",
                url: '/showUserDialog',
                dataType: "json",
                data: data,
                success: function (ans) {
                    var html = new EJS({url: ' /views/userDialog.ejs'}).render(ans);
                    $('#content').html(html);
                    message = $('#messages');

                    $("#send").on('click', function () {
                        var message = $('#mess').val();
                        ws.send(JSON.stringify({
                            "type": "sendMessage",
                            "message": message,
                            "chanel": userId
                        }));
                    });

                    ws.send(JSON.stringify(data));
                }
            });
        });


        $('.about').on('click', function () {
            var html = new EJS({url: ' /views/about.ejs'}).render();
            $('#content').html(html);
        });
    })();
</script>

</body>
</html>
