<div style="width: 100%; height: 100%; display: table;">
    <div style="display: table-row; height: 100px; width: 100%;">
        <img width="40px" height="40px" src="img/<%= image %>.jpg" style="vertical-align: middle;"/>
        <span><%= userName %></span>
    </div>

    <div style="display: table-row; height: 100%; width: 100%; text-align: center;">
        <div style="display: table-cell; vertical-align: bottom; width: 100%; height: 100%;">chat message</div>
    </div>

    <div style="display:table-row; height: 150px; width: 100%; text-align: center;">
        <textarea style="width: 300px; height: 150px; resize: none;"> </textarea>
        <input type="button" name="Отправить" class="ui-button" value="Отправить">
        <input type="button" name="Стереть" class="ui-button" value="Стереть">
    </div>
</div>